@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        /* change the margins as you want them to be. */
   } 
}

html {
	width: 100%;
	justify-items: center;
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	font-family: Arial;
}

body {
   	height:267mm;
   	width:180mm;
   	padding: 15mm 15mm 15mm 15mm;
   	margin: 0;
   	background-color: white;
    
   	display: grid;
  		grid-template-columns: 1fr 4fr;
		grid-template-rows: 1fr 1fr 10fr;
   	gap: 0mm;

}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 1mm 0 1mm 0;
}

h3 {
	font-size: 6mm;
}

p {
	margin-top: 2mm;
}

ul {
	padding-left: 7mm;
}

#name {
	margin: 0;
	padding: 0 0 2mm 0;
	grid-row: 1;
	grid-column: 1 / -1;
}

#summary {
	grid-row: 2;
	grid-column: 1 / -1;
	padding: 2mm 0 2mm 0;
	margin: 0;
	border-top: 0.5mm solid grey;
	border-bottom: 0.5mm solid grey;
}

#left-side {
	grid-row: 3;
	grid-column: 1;
	padding: 4mm 4mm 0 1.5mm;
	margin: 0;
	border-right: 0.5mm solid grey;
}

#left-side p, #left-side ul {
	font-size: 3.5mm;
}

#right-side {
	grid-row: 3;
	grid-column: 2;
	padding: 4mm 0 0 4mm;
	margin: 0;
}


#education {
	border-bottom: 0.5mm solid grey;
	margin-bottom: 3mm;
}
